<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Title</title>
    <link href="../stylesheets/styles.scss" rel="stylesheet" />
</head>
<body>
	<p>hello user_test,</p>
    <section>
        <article>
            <header>
                <h1>Article #1</h1>
            </header>
            <section>
                This is the first article.
            </section>
        </article>
        <article>
            <header>
                <h1>Article #2</h1>
            </header>
            <section>
                This is the second article.
            </section>
        </article>
    </section>
    <section>
        <h1>Links</h1>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
        </ul>
    </section>
    <footer>Footer</footer>
</body>
</html>