<sm-message *ngFor="let message of messages" icon="{{message.icon}}" class="{{message.type}} main-msg">
  <message-header>
    {{message.status}}
  </message-header>
  <message-content>
    {{message.text}}
  </message-content>
</sm-message>

<div class="content-header">
  <h1 class="ui floated content-title"><i class="disk outline icon"></i>Forwarders</h1>
  <div [style.visibility]= "loadError || user=='admin' ? 'hidden' : 'visible'" (click)="openAddModal()" class="content-header-btn circular ui icon button teal">
    <i class="plus icon"></i> Add forwarder
  </div>

  <div *ngIf="!isCompleted" class="ui active left inline loader"></div>
  <div class="ui icon input main-search">
    <input type="text" placeholder="Search..." [(ngModel)]="queryStr">
    <i class="search icon"></i>
  </div>
</div>

<div class="ui divider"></div>

<sm-message class="positive modal-msg">
  <message-content>
    <sm-list class="bulleted">
      <sm-item>A Server Class is a collection of Forwarders. A Forwarder is the source host where the logs are generated. <a class="link" (click)="infoModal.show({blurring: true})">Example</a></sm-item>
      <sm-item>You will need to click "Apply" again in "Deployment" to reflect your changes once you changed any thing (App, Input, ServerClass) related to that App</sm-item>
    </sm-list>
  </message-content>
</sm-message>

<sm-message *ngIf="loadError" icon="warning" class="warning body-msg">
  <message-header>
    {{loadError}}
  </message-header>
  <message-content>
    Please contact admin
  </message-content>
</sm-message>

<div class="ui right labeled input">
  <sm-select [control]="selectControl" [(model)]="itemNumPerPage" class="fluid search item-per-page">
    <option>10</option>
    <option>20</option>
    <option>50</option>
    <option>100</option>
  </sm-select>
  <div class="ui label">Per Page</div>
</div>
<pagination-controls (pageChange)="curentP = $event"></pagination-controls>

<table class="ui selectable celled table">
  <thead>
    <tr>
      <th>No.</th>
      <th>
        <div *ngIf="activeAttr=='name'" (click)="sortTable('name')" class="ui button active-attr">
          Name <i class="{{arrow}} icon"></i>
        </div>
        <div *ngIf="activeAttr!='name'" (click)="sortTable('name')" class="ui button attr">
          Name <i class="sort icon"></i>
        </div>
      </th>

      <th *ngIf="user=='admin'">
        <div *ngIf="activeAttr=='user_name'" (click)="sortTable('user_name')" class="ui button active-attr">
          User <i class="{{arrow}} icon"></i>
        </div>
        <div *ngIf="activeAttr!='user_name'" (click)="sortTable('user_name')" class="ui button attr">
          User <i class="sort icon"></i>
        </div>
      </th>

      <th>
        <div *ngIf="activeAttr=='share'" (click)="sortTable('share')" class="ui button active-attr">
          Share <i class="{{arrow}} icon"></i>
        </div>
        <div *ngIf="activeAttr!='share'" (click)="sortTable('share')" class="ui button attr">
          Share <i class="sort icon"></i>
        </div>
      </th>

      <th>
        <div *ngIf="activeAttr=='created_at'" (click)="sortTable('created_at')" class="ui button active-attr">
          Created At <i class="{{arrow}} icon"></i>
        </div>
        <div *ngIf="activeAttr!='created_at'" (click)="sortTable('created_at')" class="ui button attr">
          Created At <i class="sort icon"></i>
        </div>
      </th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forwarder of forwarders | search : queryStr | orderBy : orderAttr | paginate: { itemsPerPage: itemNumPerPage, currentPage: curentP }; let i=index ">
      <td>{{getItemNum() + i + 1}}</td>
      <td>{{forwarder.name}}</td>
      <td *ngIf="user=='admin'">{{forwarder.user_name}}</td>
      <td id="td{{i}}-0" (mouseleave)="mouseLeave()" on-mouseover='mouseOver(i, 0)'>
        <span *ngIf="!eleActive[i][0]" class="ie-text">{{forwarder.share}}</span>
        <button *ngIf="eleHovered[i][0]" (click)="onEdit(i, 0, forwarder)" class="ui button ie-tip"><i class="edit icon ie-icon"></i></button>
        <div *ngIf="eleActive[i][0]" class="ie-div">
          <sm-select [(model)]="currentForwarder.share" class="fluid select">
            <option>public</option>
            <option>private</option>
            <option *ngFor="let user of users">{{user.user_name}}</option>
          </sm-select>
          <button class="ui button ie-cancel" (click)="cancelEdit(i)">
            <i class="remove icon ie-icon"></i>
          </button>
          <button class="ui button ie-confirm" (click)="editRecord(i)">
            <i class="checkmark icon ie-icon"></i>
          </button>
        </div>
      </td>
      <td>{{forwarder.created_at}}</td>
      <td>
        <div (click)="delModal.show({blurring: true});openDelModal(forwarder)" class="tiny circular ui icon button orange del tbl-btn">
          <i class="large trash icon"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="ui right labeled input">
  <sm-select [control]="selectControl" [(model)]="itemNumPerPage" class="fluid search item-per-page">
    <option>10</option>
    <option>20</option>
    <option>50</option>
    <option>100</option>
  </sm-select>
  <div class="ui label">Per Page</div>
</div>
<pagination-controls (pageChange)="curentP = $event"></pagination-controls>

<div class="ui modal" id="addForwarderModal">
  <div class="ui icon header">
    <i class="plus icon"></i>
    Add Forwarder
  </div>

  <div class="content">
    <sm-message *ngIf="error" class="negative modal-msg">
      <message-content>
       <i class="warning icon"></i> {{error}}
      </message-content>
    </sm-message>

    <div class="text-right">
      <div class="ui labeled input">
        <!-- <div class="ui label input-label-sm">Forwarders</div> -->
        <div class="ui icon input right">
          <input type="text" placeholder="Search..." [(ngModel)]="queryFwdrStr">
          <i class="search icon"></i>
        </div>
      </div>
      <sm-button class="ui cancel" (click)="hideAddModal()">Cancel</sm-button>
      <a class="ui teal ok button" [class.disabled]='selectedForwardersStr?.length<1 || !isCompleted' (click)="addRecord()"><div *ngIf="!isCompleted" class="ui active left inline loader tiny btn-loader"></div>Submit</a>
    </div>
  </div>

  <div class="scrolling content">
    <div class="ui right labeled input">
      <sm-select [control]="subSelectControl" [(model)]="subItemNumPerPage" class="fluid search item-per-page">
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
      </sm-select>
      <div class="ui label">Per Page</div>
    </div>
    <pagination-controls (pageChange)="subCurentP = $event" id="sub"></pagination-controls>
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Select</th>
          <th>
            <div *ngIf="activeAttr=='name'" (click)="sortTable('name')" class="ui button active-attr">
              Name <i class="{{arrow}} icon"></i>
            </div>
            <div *ngIf="activeAttr!='name'" (click)="sortTable('name')" class="ui button attr">
              Name <i class="sort icon"></i>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fwdr of forwardersFromDeploymentServer | search : queryFwdrStr | paginate: { id: 'sub', itemsPerPage: subItemNumPerPage, currentPage: subCurentP }; let i=index; trackBy: trackByIndex">
          <td>{{getSubItemNum() + i + 1}}</td>
          <td>
            <div class="ui checkbox">
              <input type="checkbox" [checked]="forwarderChecked[i]" (change)="forwarderChecked[i] = !forwarderChecked[i]; onChangeFwdr(fwdr.name, $event.target.checked)" />
              <label>select</label>
            </div>
          </td>
          <td>{{fwdr.name}}</td>
        </tr>
      </tbody>
    </table>

    <div class="ui right labeled input">
      <sm-select [control]="subSelectControl" [(model)]="subItemNumPerPage" class="fluid search item-per-page">
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
      </sm-select>
      <div class="ui label">Per Page</div>
    </div>
    <pagination-controls (pageChange)="subCurentP = $event" id="sub"></pagination-controls>
  </div>

  <div class="actions">
    <sm-button class="ui cancel">Cancel</sm-button>
    <a class="ui teal ok button" [class.disabled]='selectedForwardersStr?.length<1 || !isCompleted' (click)="addRecord()"><div *ngIf="!isCompleted" class="ui active left inline loader tiny btn-loader"></div>Submit</a>
  </div>
</div>

<sm-modal title="Do you want to delete forwarder?" class="ui small modal" icon="trash" #delModal>
  <modal-content>
    <div class="ui form">
      <div class="field">
        <label>Name</label>
        <input class="text-readonly" type="text" [(ngModel)]="currentForwarder.name" disabled>
      </div>

      <div class="field">
        <label>Share</label>
        <input class="text-readonly" type="text" [(ngModel)]="currentForwarder.share" disabled>
      </div>

      <div class="field">
        <label>Created At</label>
        <input class="text-readonly" type="text" [(ngModel)]="currentForwarder.created_at" disabled>
      </div>
    </div>
  </modal-content>
  <modal-actions>
    <sm-button (click)="delModal.hide()">Cancel</sm-button>
    <div class="ui button orange del" (click)="delModal.hide();deleteRecord()">Delete</div>
  </modal-actions>
</sm-modal>

<sm-modal title="Forwarders and Server Classes" class="ui small modal" icon="info" #infoModal>
  <modal-content>
    <img src="assets/images/forwarders-serverclasses.png" class="ui image">
  </modal-content>
  <modal-actions>
    <sm-button (click)="infoModal.hide()">Close</sm-button>
  </modal-actions>
</sm-modal>
<button class="invisible" id="add-modal-close" (click)="hideAddModal()">Hide</button>
