<sm-message *ngFor="let message of messages" icon="{{message.icon}}" class="{{message.type}} main-msg">
  <message-header>
    {{message.status}}
  </message-header>
  <message-content>
    {{message.text}}
  </message-content>
</sm-message>

<div class="content-header">
  <h1 class="ui floated content-title"><i class="yen icon"></i>Unit Price</h1>
  <div [style.visibility]= "loadError || user=='admin'? 'hidden' : 'visible'" (click)="addModal.show({blurring: true});openAddModal()" class="content-header-btn circular ui icon button teal">
    <i class="plus icon"></i> Add unit price
  </div>

  <div *ngIf="!isCompleted" class="ui active left inline loader"></div>
  <div class="ui icon input main-search">
    <input type="text" placeholder="Search..." [(ngModel)]="queryStr">
    <i class="search icon"></i>
  </div>
</div>

<div class="ui divider"></div>

<sm-message *ngIf="loadError" icon="warning" class="warning body-msg">
  <message-header>
    {{loadError}}
  </message-header>
  <message-content>
    Please contact admin
  </message-content>
</sm-message>

<div class="ui right labeled input">
  <sm-select [control]="selectControl" [(model)]="itemNumPerPage" class="fluid search item-per-page">
    <option>10</option>
    <option>20</option>
    <option>50</option>
    <option>100</option>
  </sm-select>
  <div class="ui label">Per Page</div>
</div>
<pagination-controls (pageChange)="curentP = $event"></pagination-controls>

<table class="ui selectable celled table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Service Price</th>
      <th>Storage Price</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let price of unitPrices | search : queryStr | orderBy : orderAttr | paginate: { itemsPerPage: itemNumPerPage, currentPage: curentP }; let i=index ">
      <td>{{getItemNum() + i + 1}}</td>
      <td id="td{{i}}-0" (mouseleave)="mouseLeave()" on-mouseover='mouseOver(i, 0)'>
        <span *ngIf="!eleActive[i][0]" class="ie-text">{{price.service_price}}</span>
        <button *ngIf="eleHovered[i][0]" (click)="onEdit(i, 0, price)" class="ui button ie-tip"><i class="edit icon ie-icon"></i></button>
        <div *ngIf="eleActive[i][0]" class="ie-div">
          <form class="ui form" [formGroup]="form">
            <input type="text" [(ngModel)]="currentUnitPrice.service_price" formControlName="service_price">
            <small *ngIf="serviceCtl.dirty && !serviceCtl.valid" class="vali-msg">
              {{requiredMsg}}
            </small>
            <a class="ui button ie-cancel" (click)="cancelEdit()">
              <i class="remove icon ie-icon"></i>
            </a>

            <a class="ui button ie-confirm" [class.disabled]='!serviceCtl.valid' (click)="editRecord(i)">
              <i class="checkmark icon ie-icon"></i>
            </a>
          </form>
        </div>
      </td>

      <td id="td{{i}}-1" (mouseleave)="mouseLeave()" on-mouseover='mouseOver(i, 1)'>
        <span *ngIf="!eleActive[i][1]" class="ie-text">{{price.storage_price}}</span>
        <button *ngIf="eleHovered[i][1]" (click)="onEdit(i, 1, price)" class="ui button ie-tip"><i class="edit icon ie-icon"></i></button>
        <div *ngIf="eleActive[i][1]" class="ie-div">
          <form class="ui form" [formGroup]="form">
            <input type="text" [(ngModel)]="currentUnitPrice.storage_price" formControlName="storage_price">
            <small *ngIf="storageCtl.dirty && !storageCtl.valid" class="vali-msg">
              {{requiredMsg}}
            </small>
            <a class="ui button ie-cancel" (click)="cancelEdit()">
              <i class="remove icon ie-icon"></i>
            </a>

            <a class="ui button ie-confirm" [class.disabled]='!storageCtl.valid' (click)="editRecord(i)">
              <i class="checkmark icon ie-icon"></i>
            </a>
          </form>
        </div>
      </td>
      <td>
        <div (click)="delModal.show({blurring: true});openDelModal(price)" class="tiny circular ui icon button orange del tbl-btn">
          <i class="large trash icon"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="ui right labeled input">
  <sm-select [control]="selectControl" [(model)]="itemNumPerPage" class="fluid search item-per-page">
    <option>10</option>
    <option>20</option>
    <option>50</option>
    <option>100</option>
  </sm-select>
  <div class="ui label">Per Page</div>
</div>
<pagination-controls (pageChange)="curentP = $event"></pagination-controls>

<button class="invisible" id="add-modal-close" (click)="addModal.hide()">Hide</button>
<sm-modal title="Add unit price" class="ui small modal" icon="plus" #addModal>
  <modal-content>
    <sm-message *ngIf="error" class="negative modal-msg">
      <message-content>
       <i class="warning icon"></i> {{error}}
      </message-content>
    </sm-message>

    <form class="ui form" [formGroup]="form">
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label input-label">Service price</div>
          <input type="text" placeholder="Service price" [(ngModel)]="currentUnitPrice.service_price" formControlName="service_price">
        </div>
        <small *ngIf="serviceCtl.dirty && !serviceCtl.valid" class="vali-msg">
          {{requiredMsg}}
        </small>
      </div>

      <div class="field">
        <div class="ui labeled input">
          <div class="ui label input-label">Storage price</div>
          <input type="text" placeholder="Storage price" [(ngModel)]="currentUnitPrice.storage_price" formControlName="storage_price">
        </div>
        <small *ngIf="storageCtl.dirty && !storageCtl.valid" class="vali-msg">
          {{requiredMsg}}
        </small>
      </div>
      
    </form>
  </modal-content>
  <modal-actions>
    <sm-button (click)="addModal.hide()">Cancel</sm-button>
    <a class="ui teal button" [class.disabled]='!form.valid || !isCompleted' (click)="addRecord()"><div *ngIf="!isCompleted" class="ui active left inline loader tiny btn-loader"></div>Submit</a>
  </modal-actions>
</sm-modal>

<sm-modal title="Do you want to delete unit price?" class="ui small modal" icon="trash" #delModal>
  <modal-content>
    <div class="ui form">
      <div class="field">
        <label>Service Price</label>
        <input class="text-readonly" type="text" [(ngModel)]="currentUnitPrice.service_price" disabled>
      </div>
      <div class="field">
        <label>Storage Price</label>
        <input class="text-readonly" type="text" [(ngModel)]="currentUnitPrice.storage_price" disabled>
      </div>
      <div class="field">
        <label>Created At</label>
        <input class="text-readonly" type="text" [(ngModel)]="currentUnitPrice.created_at" disabled>
      </div>
    </div>
  </modal-content>
  <modal-actions>
    <sm-button (click)="delModal.hide()">Cancel</sm-button>
    <div class="ui button orange del" (click)="delModal.hide();deleteRecord()">Delete</div>
  </modal-actions>
</sm-modal>